/* COLORS */
$backColor: #f4fae3;
$headerBackColor: #001d4a;
$headerColor: #eca400;
$cardTitleColor: #27476e; 
$cardIconColor: #006992;
$footerBackColor: #27476e;


/* BORDERS */
$pageBorderRadius: 120px 60px 120px 60px;
$cardBorderRadius: 100px 40px 60px 60px;
$cardShadow: 3px 3px 10px 1px black;

/* FONTS */
$fontContent: 'Asap', sans-serif;
$fontTitle: 'Amatic SC', cursive;

/* MEDIA QUERIES */
$tablet: 900px;
$smallTablet: 600px;
$mobile: 450px;

@mixin tablet {
    @media (max-width: #{$tablet}) {
        @content;
    }
}

@mixin smallTablet {
    @media (max-width: #{$smallTablet}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content;
    }
}
