@import '../../../style/_var.scss';

a {
    text-decoration: none;
    color: $cardTitleColor;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 300px;
    height: 300px;
    background-color: $backColor;
    box-shadow: $cardShadow;
    border-radius: $cardBorderRadius;

    @include mobile {
        width: 250px;
        height: 250px;
    }
    

    h4 {
        position: absolute;
        font-family: $fontTitle;
        font-size: 4em;
        font-weight: 700;
        align-self: center;
        justify-self: center;
        z-index: 999;
        //text-shadow: 1px 1px 1px $headerBackColor;

        @include mobile {
            font-size: 3em;
        }
        
    }

    p { 
        font-family: $fontContent;
        text-align: center;
        font-weight: 700;
        font-size: 1.5em;
        //text-shadow: 1px 1px 1px $headerBackColor;
    }
}

.card-show {
    transition: all .5s ease-in-out;
    opacity: 1;
    z-index: 99;
}

.card-hide {
    opacity: 0;
    
}

.card:hover {
    box-shadow: 1px 1px 5px 1px black;
}

.card:hover .card-icon {
    opacity: .4;
}

.card-icon {
    position: absolute;
    align-self: center;
    justify-self: center;
    text-align: center;
    opacity: .2;
    z-index: 9;
    color: $cardIconColor;
}